<div class="panel panel-default">
  <div class="panel-heading">Product Edit Form : You can edit an products detail information into this Apps.</div>
  <div class="panel-body">
  <form class="form-horizontal" (submit)="updateProduct()">
  <div class="form-group">
    <label for="prd_id" class="col-sm-2 control-label">Product Id : </label>
    <div class="col-sm-9">
      <input type="text" class="form-control" [(ngModel)]="model.prdId" name="prdId" >
    </div>
  </div>
  <div class="form-group">
    <label for="name" class="col-sm-2 control-label">Name : </label>
    <div class="col-sm-9">
      <input type="text" class="form-control" [(ngModel)]="model.name" name="name">
    </div>
  </div>
  <div class="form-group">
    <label for="price" class="col-sm-2 control-label">Price : </label>
    <div class="col-sm-9">
      <input type="text" class="form-control" [(ngModel)]="model.price" name="price">
    </div>
  </div>
  
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-8">
      <button type="submit" class="btn btn-success">Update</button>
       <a class="btn btn-info" (click)="goBack()">Cancel</a>
    </div>
   
  </div>
</form>

  </div>
</div>