<table class="table table-bordered">
		  <thead>
			<tr>
			  <td>Product Id</td>
			  <td>Name</td>
			  <td>Price</td>
			  <td width="275" align="center">Action</td>
			</tr>
		  </thead>
		  <tbody>
			 <tr  *ngFor="let product of products">
				<td>{{product.prdId}}</td>
				<td>{{product.name}}</td>
				<td>{{product.price}}</td>
				<td width="275"> 
					<a class="btn btn-info" routerLink="/showPrd/{{product._id}}">Detail</a> 
					<a class="btn btn-success"  routerLink="/editPrd/{{product._id}}">Edit</a>
					<a class="btn btn-danger" (click)="deleteProduct(product._id)">Delete</a>
				</td>
			 </tr>
		  </tbody>
</table>